@import url('https://fonts.googleapis.com/css2?family=Amatic+SC:wght@700&family=Poppins&display=swap');

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Poppins';
}

header, #principal, #second, #contato, #stream {
	display: flex;
  justify-content: space-around;
  align-items: center;
  gap: 50px;
}

.link-menu {
  color: #fff;
  background-color: #555;
  padding: 10px;
  text-decoration: none;

  border-radius: 10%;
}

.f {
  background-color: #5b305a;
}

.l {
  background-color: #e49756;
}

.m {
  background-color: #e04b5a;
}

main {
  background-color: #333;
  color: #ddd;
}

h1, h2 {
  font-family: 'Amatic SC';
  font-size: 40px;
  text-align: end;
}

#second a{
  color: #fff;
}

footer {
  background-color: #333;
  color: #ddd;
}

/* Coisa */

#logo{
  height: 150px;
  display: flex;
  justify-content:center;
  flex: 1;
}

.item-menu{
  list-style-type: none;
}

.link-menu:hover{
  text-decoration: underline;
}

nav {
  display: flex;
  justify-content: center;
  flex: 1;
}

#menu{
  display: flex;
  gap: 20px;
  margin: 0;
  padding: 0;
}

figure{
  display: flex;
  justify-content: end;
  flex: 1;
}

figure img{
  max-width: 300px;
}

main{
  display: flex;
  justify-content: center;
}

main #principal{
  padding: 30px;
  gap: 70px;
}

#sec_ctd{
  display: flex;
  flex-direction: column;

  flex: 1;
  gap: 100px;
}

p {
  text-align: justify;
  width: 460px;
}

.cartaz{
 margin: 100px 0px;
}

.capa{
  max-width: 200px;
}

section #second{
  display: flex;
  justify-content: center;
}

footer div div a{
  color: white;
  text-decoration: none;
}

footer div div a:hover{
  text-decoration: underline;
}

#contato{

}

#email{

}

#social{

}

#capa{

}

#resumo{

}

#descricao{

}

#acesso{

}

#sinopse{

}

figure{

}